{% extends 'common/base.html' %}

{% block title %}课程{% endblock %}

{% block page_content %}

        <a href="{{ url_for('course.get_course', teach_or_listen=1) }}" class="btn btn-primary btn-lg active" role="button">我想讲的课</a>
        <a href="{{ url_for('course.get_course', teach_or_listen=2) }}" class="btn btn-primary btn-lg active" role="button">我想听的课</a>
        <a href="{{ url_for('course.add_course') }}" class="btn btn-primary btn-lg active" role="button" style="float: right;">添加课程</a>


       <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>课程类型</th>
          <th>讲课或听课</th>
          <th>课程名称</th>
          <th>详情</th>
          <th>创建时间</th>
          <th>详细</th>
          <th>编辑</th>
          <th>删除</th>
        </tr>
      </thead>
      <tbody>
      {% for course in courses %}
            {% if course.category==1 %}
                {% set category='语言技巧' %}
            {% elif course.category==2 %}
                {% set category='框架' %}
            {% elif course.category==3 %}
                {% set category='数据库' %}
            {% elif course.category==4 %}
                {% set category='新技术' %}
            {% endif %}
          {% if course.teach_or_listen==1 %}
                {% set teach_or_listen='讲课' %}
            {% elif course.teach_or_listen==2 %}
                {% set teach_or_listen='听课' %}
            {% endif %}
        <tr>
          <th scope="row">{{ loop.index }}</th>

          <td>{{ category }}</td>

          <td>{{ teach_or_listen }}</td>
          <td>{{ course.course_name }}</td>
          <td>{{ course.remark|truncate(length=20,killwords=False) }}</td>
          <td>{{ course.create_time }}</td>
          <td><a href="{{ url_for('course.get_one', id=course.id)  }}">详细</a></td>
          <td><a href="{{ url_for('course.update', id=course.id)  }}">编辑</a></td>
          <td><a href="{{ url_for('course.delete', id=course.id) }}">删除</a></td>
        </tr>
      {% endfor %}
      </tbody>

    </table>

{% endblock %}

